<!DOCTYPE html>

<html>

	<head>
		<title>Introduction to Backbone.js</title>
		<script id="widget-view" type="text/x-handlebars-template">
			<div>
				<h2>View Widget</h2>
				<div>
					<label>Name:</label>
					<span>{{name}}</span>
				</div>
				<div>
					<label>Description:</label>
					<span>{{description}}</span>
				</div>
				<div>
					<label>Size:</label>
					<span>{{size}}</span>
				</div>
				<div>
					<label>Color:</label>
					<span>{{color}}</span>
				</div>
			</div>
		</script>
		<script src="lib\jquery.js"></script>
		<script src="lib\underscore.js"></script>
		<script src="lib\backbone.js"></script>
		<script src="lib\handlebars.js"></script>
		<script src="js\index.js"></script>
	</head>

	<body>
	</body>

</html>
